@mixin device-width($resolution, $variable: min-width){
    @media screen and ($variable: $resolution){
        @content;
    }
}

/* You can only specify the sizes you want to change, but they must be in order xs, sm, md, lg */
@mixin grid-system($keys, $numsCols) {
    position: relative;
    float: left;
    @for $i from 1 to (length($numsCols) + 1) {
        @if(nth($keys, $i) == $xs){
            width: nth($numsCols, $i)*$colSize;
        }
        @else{
            @include device-width(nth($keys, $i)) {
                width: nth($numsCols, $i)*$colSize;
            }
        }
    }
}

@mixin grid-system-offset($keys, $numsCols) {
    @for $i from 1 to (length($numsCols) + 1) {
        @include device-width(nth($keys, $i)) {
            margin-left: nth($numsCols, $i)*$colSize;
        }
    }
}

@mixin row() {
    margin-right: -15px;
    margin-left: -15px;
    &::before,
    &::after {
        display: table;
        content: " ";
    }
    &::after{
        clear: both;
    }
}
